# Server files.
banned-ips.json
banned-players.json
cache/
config/
eula.txt
help.yml
libraries/
logs/
ops.json
permissions.yml
plugins/
purpur-*.jar
wepif.yml
purpur.yml
server.properties
spigot.yml
start.sh
usercache.json
version_history.json
whitelist.json
world/
world_nether/
world_the_end/

# TrueOG Bootstrap internals.
bootstrap/.m2
bootstrap/.gradle
bootstrap/.sdkman
.gradle/

# Server databases.
databases/*.txt
