[submodule "website"]
	path = website
	url = https://github.com/true-og/website
[submodule "Purpur"]
	path = Purpur
	url = https://github.com/true-og/Purpur
[submodule "plugin-suites/OG-Suite"]
	path = plugin-suites/OG-Suite
	url = https://github.com/true-og/OG-Suite
[submodule "plugin-suites/Hard-Forks"]
	path = plugin-suites/Hard-Forks
	url = https://github.com/true-og/Hard-Forks
[submodule "plugin-suites/Soft-Forks"]
	path = plugin-suites/Soft-Forks
	url = https://github.com/true-og/Soft-Forks
[submodule "plugin-suites/Third-Party"]
	path = plugin-suites/Third-Party
	url = https://github.com/true-og/Third-Party
[submodule "SubstAgent"]
	path = SubstAgent
	url = https://github.com/true-og/SubstAgent
[submodule "databases/FerretDB"]
	path = databases/FerretDB
	url = https://github.com/true-og/FerretDB
[submodule "databases/KeyDB"]
	path = databases/KeyDB
	url = https://github.com/true-og/KeyDB
[submodule "intranet/gitea"]
	path = intranet/gitea
	url = https://github.com/true-og/gitea
[submodule "intranet/JMusicBot"]
	path = intranet/JMusicBot
	url = https://github.com/true-og/JMusicBot
[submodule "intranet/wekan"]
	path = intranet/wekan
	url = https://github.com/true-og/wekan
[submodule "intranet/filebrowser-quantum"]
	path = intranet/filebrowser-quantum
	url = https://github.com/true-og/filebrowser
[submodule "intranet/GlitchTip"]
	path = intranet/GlitchTip
	url = https://github.com/true-og/GlitchTip
