# Non-redistributable server files.
banned-ips.json
banned-players.json
cache/
crash-reports/
eula.txt
pufferfish.yml
help.yml
libraries/
logs/
ops.json
permissions.yml
plugins/
purpur-*.jar
server.properties
usercache.json
version_history.json
whitelist.json
world
world_nether
world_nether_old/
world_old/
world_the_end
world_the_end_old/

# TrueOG Bootstrap internals.
bootstrap/.m2
bootstrap/.gradle
bootstrap/.sdkman
.gradle/
.env

# Server databases.
databases/*.txt
databases/databases.tar
